# Contentful
CONTENTFUL_SPACE_ID=hz3cje2r288j
CONTENTFUL_ACCESS_TOKEN=your-contentful-access-token
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_MANAGEMENT_TOKEN=your-contentful-management-token
# Mailjet
MAILJET_API_KEY=your-mailjet-api-key
MAILJET_API_SECRET=your-mailjet-api-secret
MAILJET_LIST_ID=42219
# EmailJS
EMAILJS_SERVICE_ID=your-emailjs-service-id
EMAILJS_TEMPLATE_ID=your-emailjs-template-id
EMAILJS_USER_ID=your-emailjs-user-id
# Analytics
GTM_ID=GTM-M83MD4M
GOOGLE_ANALYTICS_ID=UA-116316201-1