# Contentful (Delivery API)
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_SPACE_ID=your-contentful-space-id
CONTENTFUL_ACCESS_TOKEN=your-contentful-access-token
CONTENTFUL_MANAGEMENT_TOKEN=your-contentful-management-token

# Analytics & Tracking
ENABLE_TRACK=true
GTM_ID=your-gtm-id
ANALYTIC_ID=your-analytic-id
GOOGLE_ANALYTICS_API_KEY=your-google-analytics-api-key

# Mailjet
MAILJET_USER=your-mailjet-user
MAILJET_PASS=your-mailjet-pass
MAILJET_LIST_ID=your-mailjet-list-id
MAILJET_API=https://api.mailjet.com/v3.1/send
MAILJET_API_CONTACT=https://api.mailjet.com/v3/REST/contact
MAILJET_API_LIST_RECIPIENT=https://api.mailjet.com/v3/REST/listrecipient
MAILJET_API_SERVICE=http://192.168.9.20:8085/mailjet
MAILJET_API_SERVICE_SEND=http://192.168.9.20:8085/mailjet/send
MAILJET_IS_UNSUBSCRIBED=false
MAILJET_IS_EXCLUDED_FROM_CAMPAIGNS=true


# Brevo
BREVO_API_KEY=brevo-api-key
BREVO_SENDER_EMAIL=sender-email

# Nuxt dev
NUXT_ENV_TEST=true
