# Contentful (Delivery API)
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_SPACE_ID=your-contentful-space-id
CONTENTFUL_ACCESS_TOKEN=your-contentful-access-token
CONTENTFUL_MANAGEMENT_TOKEN=your-contentful-management-token

# Analytics & Tracking
ENABLE_TRACK=true
GTM_ID=your-gtm-id
ANALYTIC_ID=your-analytic-id
GOOGLE_ANALYTICS_API_KEY=your-google-analytics-api-key

# Brevo
BREVO_API_KEY=brevo-api-key
BREVO_SENDER_EMAIL=sender-email
BREVO_LIST_ID=id

# Nuxt dev
NUXT_ENV_TEST=true
