# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.yarn

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.template
!.env.dist
coverage
.scannerwork

#end to End 
/test-results/
/playwright-report/**
/blob-report/
/playwright/.cache/
/playwright/.auth
/e2e/**/*win32.png
e2e/screenshoots

# Sentry Config File
.env.sentry-build-plugin

## CI/tools
.ci
.sonarlint

vitest.config.ts.timestamp-*
.history
.nuxtrc