@charset "utf-8";
// You can input your own styles here before you import Bulma
// See [this page](https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles)
// Also, for a list of customizable variables, reference [this page](https://bulma.io/documentation/customize/variables/)
// Colors
$blue-rintio: #134a7f;
$green-rintio: #5cb77d;
$red-rintio: #ff0c0b;
$black-rintio: #282828;
$white: #fff;
$primary: $blue-rintio;
$light: hsl(0, 0%, 96%);
$sucess: $green-rintio;
// General colors
$scheme-main: $white;
// Typography
$family-sans-serif: Montserrat,
sans-serif;
$family-secondary: Roboto,
sans-serif;
$body-family: $family-sans-serif;

body {
    font-weight: 300;
}